@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("img/bg-cat-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Ensure the body takes up the full height of the viewport */
  /* overflow: hidden; */
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

}
.app-name {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 1.5%; */
}

.app-name h1 {
  color: white;
  font-family: "Signika", sans-serif;
  font-size: 45px;
  /* transform: translateY(7px); */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  flex-direction: row;
  /* margin-top: 2% ; */
  width: 100%;
}

.left-card {
  height: 95%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;

  backdrop-filter: blur(7px);
  width: 46.5%;
  margin-right: 1.2%;
  border-radius: 1%;
  overflow-y: auto;
}



.right-cards {
  height:95%;
  display: flex;
  width: 46.5%;
  margin-left: 1.2%;
  flex-direction: column;
  
}

.right-card-up {
  height: 60%;
  width: 100%;
  margin-bottom: 1.5%;
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: #f0f0f0; */
  border: 1px solid #ccc;


  backdrop-filter: blur(7px);

  border-radius: 1%;
  overflow-y: auto;
}

.right-card-up::-webkit-scrollbar, .left-card::-webkit-scrollbar  {
  display: none;
}



.q-nos-card-container {
  /* height: 90%; */
  padding: 3%;
  overflow-y: auto;
}

.right-down-container{
  height:35%;
  width: 100%;
  display: flex;
  
  margin-top: 1.5%;
  flex-direction: row;
  
}

.right-card-down {
  height: 100%;
  width: 50%;
  margin-top: 1.5%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;

  /* background-color: #f0f0f0; */

  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1%;
}

.right-card-upload-img {
  height: 100%;
  width: 50%;
  margin-top: 1.5%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1%;
}

.right-card-upload-img a {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-decoration: none;
color: white;
}
.right-card-upload-img img {
  max-width: 65%;
  max-height: 65%;
  border-radius: 1%;
  filter: invert(100%);
}






.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  margin: 1%;
  width: 50%;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;

}

.rounded-button:hover {
  background-color: #333;
}

.rounded-q-no {
  display: inline-block;
  /* padding: 10px 20px; */
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.rounded-q-no:hover {
  background-color: #333;
}


.qs-content {
 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  overflow-y: hidden;

    /* background-color: #f0f0f0; */
}

.question-container {
  width: 100%;

    padding: 15px;
    margin: 0 auto;
}

.question {
    display: grid;
    color: rgb(255, 255, 255);
    grid-template-columns: repeat(5, 1fr); /* Each question takes up a column */
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.option-button {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-button.selected {
    background-color: #000000;
}

.option-button:hover {
    background-color: #000000;
}


.q-nos-right {
  /* Your existing styles for q-nos buttons */
  display: inline-block;
  text-align: center; 
  padding: 5px 10px;
  margin: 5px;
  min-width: 25px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.1);

  color: #ffffff;
  text-decoration: none;
  
  border-radius: 5px;
}

.q-nos-right.q-nos-selected {
  /* Style for selected q-nos */
  background-color: #198d25; /* Change to the color you want */
  /* background-color: #007bff; Change to the color you want */
  color: #fff; /* Change to the color you want */
}

.alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffcccb; /* Light red color, adjust as needed */
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

/* Add media query for landscape mode */
@media only screen and (orientation: portrait) {
  .alert {
    display: block;
  }
}

@media screen and (max-width: 1000px) and (max-height: 500px) {
  .right-card-upload-img img {
    max-width: 25%;
    max-height: auto;

  }
  .right-card-upload-img a {
    font-size: 12px;
    }
  
    .rounded-button {
    font-size: 12px;
    }
    .app-name h1 {
      font-size: 18px;
    }

}